body {
    background-color: #E8E0B6;
}

.storybook .entry-number {
    color: #C00;
    font-size: 80%;
    font-family: sans-serif;
    vertical-align: middle;
}


img.icon {
    display: inline;
    height: 1em;
    position: relative;
    top: -3px;
}

table.conditions td:first-child {
    background-color: #E8E0B6;
}

table.conditions th:first-child {
    background-color: #E8E0B6;
}

img.condition-icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
}
